button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: block; /* Asegúrate de que el botón sea un bloque */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
}